body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f9f9f9;
    margin: 0;
    padding: 20px;
}

.container {
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px #1249751A;
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
}

body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f4f4f9;
    color: #355585;
  }
  
  h1 {
    text-align: center;
  }
  
  .input-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  input {
    padding: 10px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    margin-left: 10px;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color:  #ffffff;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #9b4c33;
  }
  
  #shopping-list-container {
    max-width: 400px;
    margin: 0 auto;
  }
  
  .shopping-item {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f9f9f9;
  }
  
  .shopping-item span {
    flex: 1;
  }
  
  .purchased {
    text-decoration: line-through;
    background-color: #d4edda;
    color: #385f41;
  }
  